<a href="https://colab.research.google.com/github/Deepti675/daily-python/blob/main/Leetcode_Python/Basic1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Tricks for Competitive Coding**

In [ ]:
# Code to find top 3 elements and their counts
from collections import Counter
arr = [1,3,4,1,1,5,6,7,2,3,2,8,9,7]
counter=Counter(arr)
top_three=counter.most_common(3)
print(top_three)

[(1, 3), (3, 2), (7, 2)]

In [ ]:
# find 3 largest and 4 smallest
import heapq
greads =[110,25,38,49,20,95,33,87,80,90]
print(heapq.nlargest(3,greads))
print(heapq.nsmallest(4,greads))

[110, 95, 90]
[20, 25, 33, 38]

In [ ]:
# code to demonstrate use of zip
import heapq
stocks = {
    'Goog':520.54,
    'FB':76.45,
    'yhoo':39.28,
    'AMZN':306.21,
    'APPL':99.76
}

zipped_1 = zip(stocks.values(),stocks.keys())
print(sorted(zipped_1))
zipped_2 = zip(stocks.keys(),stocks.values())
print(sorted(zipped_2))

[(39.28, 'yhoo'), (76.45, 'FB'), (99.76, 'APPL'), (306.21, 'AMZN'), (520.54, 'Goog')]
[('AMZN', 306.21), ('APPL', 99.76), ('FB', 76.45), ('Goog', 520.54), ('yhoo', 39.28)]

In [ ]:
# code to apply a function on a list
income = [10,30,75]
def double_money(dollers):
  return dollers*2

new_income = list(map(double_money,income))
print(new_income)

[20, 60, 150]

In [ ]:
# concatenation of list of strings
strings = ""
lst = ["Geeks", "for","Geeks"]
for i in lst:
  strings+=i
print(strings)

GeeksforGeeks

In [ ]:
lst = ["Geeks", "for","Geeks"]
string = ''.join(lst)
print(string)

GeeksforGeeks